.Login{
  margin: 20%;
    position: absolute;
    border-radius: 10px;
    border: green solid 1px;
    width: 500px;
    height: 600px;
    padding: 10%;
    color: green;
 
  
   
  }

  .inicia{

    font-size: 20px;
  }