*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: 40px auto;
    width: 500px;
    height: 800px;
    outline: 4px solid;
    border-radius: 10px;
    justify-items:center;
    position: relative;
    

    
}



.container2{
    margin: 60px auto;
    width: auto;
    height: auto;
    max-width: 400px;
    outline: 4px solid;
    border-radius: 10px;
    justify-items:center;
    position: relative;
    top: auto;
    right: auto;
    

    

} 

.modalEditar{
    width: auto;
    height: 70%;
    border-radius: 20px;
    background-color: #f2f2f2;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
}
.container3{
    margin: 60px auto;
    width: auto;
    height: auto;
    max-width: 400px;
    outline: 4px solid;
    border-radius: 10px;
    justify-items:center;
    position: relative;
    top: auto;
    right: auto;
    padding-bottom: 5px;
}

.container4{
    margin: 60px auto;
    width: 400px;
    height: auto;
    max-width: 400px;
    outline: 4px solid;
    border-radius: 10px;
    justify-items:center;
    position: relative;
    top: auto;
    right: auto;
    
    

}
body {
    background-color: #cc5151;
    margin: 0;
    overflow-x: hidden;
  }
  
